<section id="imp-projects" class="imp-projects">
  <div class="container imp-projects-container">
    <h2 class="imp-projects-header">Nasze realizacje</h2>
    <ul class="imp-project-list">

      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">
              R4R Gdańsk Stocznia Sp.z o.o.
            </h3>
            <h2 class="imp-project-info-street">ul. Nowomiejska</h2>
            <p class="imp-project-info-city">Gdansk</p>
            <p class="imp-project-info-text">
              Wykonanie “fit outów” w Gdańsku wraz z zakupem i dostawą
              materiałów wykończeniowych w lokalach, przeznaczonych na wynajem
              długoterminowy.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">125</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2025 r.</p>
              <p class="imp-project-year-text">realizacja w trakcie</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="6"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="6"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Nowomiejska-Gdansk/Nowomiejska-main.jpg"
              srcset="
                gallery-impl/Nowomiejska-Gdansk/Nowomiejska-main.jpg 1x,
               gallery-impl/Nowomiejska-Gdansk/Nowomiejska-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="6"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/Nowomiejska-Gdansk/Nowomiejska-main.jpg"
              srcset="
                gallery-impl/Nowomiejska-Gdansk/Nowomiejska-main.jpg 1x,
               gallery-impl/Nowomiejska-Gdansk/Nowomiejska-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">SBL Group Sp. z o.o.</h3>
            <h2 class="imp-project-info-street">ul. Strachowicka</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykończenie mieszkań przeznaczonych na sprzedaż na Inwestycji “Ivy
              House” przy ul. Strachowickiej we Wrocławiu.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">74</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2025 r.</p>
              <p class="imp-project-year-text">realizacja w trakcie</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="7"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="7"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Strachowicka/IVY-HOUSE_WIZUALIZACJA-1_final.jpg"
              srcset="
                gallery-impl/Strachowicka/IVY-HOUSE_WIZUALIZACJA-1_final.jpg    1x,
                gallery-impl/Strachowicka/IVY-HOUSE_WIZUALIZACJA-1_final-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="7"
          >
            <img
              class="imp-project-img-mob"
               src="gallery-impl/Strachowicka/IVY-HOUSE_mob-main.jpg"
              srcset="
                gallery-impl/Strachowicka/IVY-HOUSE_mob-main.jpg    1x,
                gallery-impl/Strachowicka/IVY-HOUSE_mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2024">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul. Buforowa</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Adaptacja lokalu usługowego w stanie deweloperskim na siłownię
              osiedlową dla mieszkańców inwestycji przy ul. Buforowej we
              Wrocławiu.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">Siłownia</p>
              <p class="imp-project-count-text"></p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2025 r.</p>
              <p class="imp-project-year-text">listopad-marzec</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="2"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="2"
          >
            <img
              class="vantage imp-project-img"
              src=" gallery-impl/silownia-vantage-club_gallery/Vantage-club-pc.jpg  "
              srcset="
                gallery-impl/silownia-vantage-club_gallery/Vantage-club-pc.jpg    1x,
                gallery-impl/silownia-vantage-club_gallery/Vantage-club-pc-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="2"
          >
            <img
              class="imp-project-img-mob"
               src=" gallery-impl/silownia-vantage-club_gallerysilownia-mob-main.jpg  "
              srcset="
                gallery-impl/silownia-vantage-club_gallery/silownia-mob-main.jpg    1x,
                gallery-impl/silownia-vantage-club_gallery/silownia-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2025">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">IVANISHVILI Sp. z o.o.</h3>
            <h2 class="imp-project-info-street">ul. Indonezyjska</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Kompleksowe wykończenie mieszkań przeznaczonych na wynajem.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">10</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2025 r.</p>
              <p class="imp-project-year-text">realizacja w trakcie</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="1"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>

        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="1"
          >
            <img
              class="imp-project-img "
              src="gallery-impl/Naowo-Indonezyjska/destop-main.jpg"
              srcset="
                gallery-impl/Naowo-Indonezyjska/destop-main.jpg    1x,
                gallery-impl/Naowo-Indonezyjska/destop-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
        <a class="more-link picture-link js-impl-gallery" data-implGallery="1">
          <img
            class="imp-project-img-mob"
            src="gallery-impl/Naowo-Indonezyjska/indonezyjska-mob.jpg"
            srcset="
              gallery-impl/Naowo-Indonezyjska/indonezyjska-mob.jpg 1x,
              gallery-impl/Naowo-Indonezyjska/indonezyjska-mob-2x.jpg 2x
            "
            alt="img"
            loading="lazy"
        /></a>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul. Nowa Łacina</h2>
            <p class="imp-project-info-city">Poznań</p>
            <p class="imp-project-info-text">
              Wykonanie robót budowlanych i wykończeniowych w lokalach
              mieszkalnych w dwóch budynkach mieszkalnych wielorodzinnych w
              Poznaniu wraz z koordynacją meblarzy od Inwestora.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">247</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2024 r.</p>
              <p class="imp-project-year-text">grudzień - maj</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="8"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="8"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/VD-Nowa-Lacina/Nowa-Lacina-mob-main.jpg"
              srcset="
                gallery-impl/VD-Nowa-Lacina/Nowa-Lacina-mob-main.jpg    1x,
               gallery-impl/VD-Nowa-Lacina/Nowa-Lacina-mob-main.jpg.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="8"
          >
            <img
              class="imp-project-img-mob zoomed"
             src="gallery-impl\VD-Nowa-Lacina\1x\Nowa-Lacina7.jpg"
              srcset="
               gallery-impl\VD-Nowa-Lacina\1x\Nowa-Lacina7.jpg    1x,
               gallery-impl\VD-Nowa-Lacina\2x\Nowa-Lacina7-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">Biuro Obsługi Klienta</h2>
            <p class="imp-project-info-city">Poznań</p>
            <p class="imp-project-info-text">
              Kompleksowa adaptacja lokalu usługowego na biuro sprzedaży w
              zakresie prac wykończeniowych przy ul. Anny Jantar w Poznaniu.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">Biuro sprzedaży </p>
              <p class="imp-project-count-text"></p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2024 r.</p>
              <p class="imp-project-year-text">październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="9"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="9"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Anny-Jantar/Jantaк-biuro-main.jpg"
              srcset="
                gallery-impl/Anny-Jantar/Jantaк-biuro-main.jpg    1x,
                gallery-impl/Anny-Jantar/Jantaк-biuro-main.jpg-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="9"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/Anny-Jantar/biuro-spr-mob-main.jpg"
              srcset="
                gallery-impl/Anny-Jantar/biuro-spr-mob-main.jpg    1x,
                gallery-impl/Anny-Jantar/biuro-spr-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul. Anny Jantar</h2>
            <p class="imp-project-info-city">Poznań</p>
            <p class="imp-project-info-text">
              Wykonanie kompleksowego wykończenia mieszkań pod klucz (bez mebli) wraz z koordynacją meblarzy w zakresie punktów styku międzybranżowych oraz przekazywanie frontów robót meblarzom.

            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">123</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2024 r.</p>
              <p class="imp-project-year-text">październik-lipiec</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="10"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="10"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/VD-Anny Jantar/SKO_I_A.2.M3__1.jpg"
              srcset="
                gallery-impl/VD-Anny Jantar/SKO_I_A.2.M3__1.jpg    1x,
                ggallery-impl/VD-Anny Jantar/SKO_I_A.2.M3__1.jpg-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="10"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/VD-Anny Jantar/anny-jantar-mob-main.jpg"
              srcset="
                gallery-impl/VD-Anny Jantar/anny-jantar-mob-main.jpg    1x,
                gallery-impl/VD-Anny Jantar/anny-jantar-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">
              TALGO H.Brunengraber <br> TAL&CO sp.k.
            </h3>
            <h2 class="imp-project-info-street">ul. Drobnera 5-9</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text imp-project-info-text-TALGO">
              kompleksowe wykonanie wykończenia części wspólnych, klatek
              schodowych oraz apartamentów w bud. A przy  <br>ul. Drobnera we
              Wrocławiu.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">45</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2024 r.</p>
              <p class="imp-project-year-text">4 miesiące</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="14"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="14"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Drobnera/Drobnera-main.jpg"
              srcset="
                gallery-impl/Drobnera/Drobnera-main.jpg    1x,
                gallery-impl/Drobnera/Drobnera-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="14"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/Drobnera/Drobnera-main.jpg"
              srcset="
                gallery-impl/Drobnera/Drobnera-main.jpg    1x,
                gallery-impl/Drobnera/Drobnera-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2023">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">IVANISHVILI Sp. z o.o.</h3>
            <h2 class="imp-project-info-street">Marina</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykończenie „pod klucz” apartamentów Marina Apartments przy ul. Na Grobli 20-24 we Wrocławiu wraz z dostawą wyposażenia

            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">27</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023 r.</p>
              <p class="imp-project-year-text">styczeń – luty</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="3"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="3"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/IVANISHVILI-Marina strona/marina-pc-main.jpg"
              srcset="
              gallery-impl/IVANISHVILI-Marina strona/marina-pc-main.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/marina-pc-main-2x.jpg 2x
            "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="3"
          >
            <img
              class="imp-project-img-mob"
              class="imp-project-img"
              src="gallery-impl/IVANISHVILI-Marina strona/marina-mob-main.jpg"
              srcset="
              gallery-impl/IVANISHVILI-Marina strona/marina-mob-main.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/marina-mob-main-2x.jpg 2x
            "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Romuald Olbrych</h3>
            <h2 class="imp-project-info-street">ul. Browarna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Wykonanie robót remontowo-budowlanych w mieszkaniach w budynkach A
              i B zlokalizowanych przy ul. Browarnej we Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">87</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023 r.</p>
              <p class="imp-project-year-text">czerwiec - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="11"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="11"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Romuald-Olbrych-Browarna/Browarna-pc-main.jpg"
              srcset="
                gallery-impl/Romuald-Olbrych-Browarna/Browarna-pc-main.jpg    1x,
                gallery-impl/Romuald-Olbrych-Browarna/Browarna-pc-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="11"
          >
            <img
              class="imp-project-img-mob"
               src="gallery-impl/Romuald-Olbrych-Browarna/Browarna-mob-main.jpg"
              srcset="
                gallery-impl/Romuald-Olbrych-Browarna/Browarna-mob-main.jpg    1x,
                gallery-impl/Romuald-Olbrych-Browarna/Browarna-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul. Pułaskiego</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
            Wykonanie prac budowlanych i wykończeniowych w przedsięwzięciu deweloperskim obejmującym dwa budynki mieszkalne wielorodzinne we Wrocławiu przy ul. Pułaskiego
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">101</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023 r.</p>
              <p class="imp-project-year-text">lipiec-kwiecień</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="12"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="12"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Pulaskiego/pulaskiego-main.jpg"
              srcset="
                gallery-impl/Pulaskiego/pulaskiego-main.jpg    1x,
                gallery-impl/Pulaskiego/pulaskiego-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="12"
          >
            <img
              class="imp-project-img-mob"
             src="gallery-impl/Pulaskiego/pulaskiego-main.jpg"
              srcset="
                gallery-impl/Pulaskiego/pulaskiego-main.jpg    1x,
                gallery-impl/Pulaskiego/pulaskiego-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">BR Capital Zawadzcy sp.k.</h3>
            <h2 class="imp-project-info-street">ul. Sołtysowicka</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
             Prace remontowo-budowlane w lokalach mieszkalnych przy ul. Sołtysowickiej we Wrocławiu.

            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">10</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2023 r.</p>
              <p class="imp-project-year-text">styczeń-luty</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="13"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="13"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Soltysowicka/soltysowicka-main.jpg"
              srcset="
                gallery-impl/Soltysowicka/soltysowicka-main.jpg    1x,
                gallery-impl/Soltysowicka/soltysowicka-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="13"
          >
            <img
              class="imp-project-img-mob"
             src="gallery-impl/Soltysowicka/soltysowicka-main.jpg"
              srcset="
                gallery-impl/Soltysowicka/soltysowicka-main.jpg    1x,
                gallery-impl/Soltysowicka/soltysowicka-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item" id="year2022">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">
              DM Mieszkania Sp. zo.o. Sp. k.
            </h3>
            <h2 class="imp-project-info-street">ul. Rychtalska</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Zaprojektowanie oraz kompleksowe wykończenie 232 lokali
              mieszkalnych w budynku CITYZEN przy u. Rychtalskiej 11-15 we
              Wrocławiu
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">232</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022 r.</p>
              <p class="imp-project-year-text">mart - październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="4"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="4"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/DM_Mieszkania-strona/DM-Rychtalska-pc-main.jpg"
              srcset="
                gallery-impl/DM_Mieszkania-strona/DM-Rychtalska-pc-main.jpg 1x,
                gallery-impl/DM_Mieszkania-strona/DM-Rychtalska-pc-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="4"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/DM_Mieszkania-strona/DM-Rychtalska-mob-main.jpg"
              srcset="
                gallery-impl/DM_Mieszkania-strona/DM-Rychtalska-mob-main.jpg 1x,
                gallery-impl/DM_Mieszkania-strona/DM-Rychtalska-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Vantage Development S.A.</h3>
            <h2 class="imp-project-info-street">ul. Buforowa(etap I,II)</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Buforowa I oraz II etap Opis: Roboty wykończeniowe w lokalach
              mieszkalnych przy ul. Kopycińskiego 1, 15, 17 we Wrocławiu 340
              mieszkań
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">340</p>
              <p class="imp-project-count-text">mieszkań</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022 r.</p>
              <p class="imp-project-year-text">luty - grudzień</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="5"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="5"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg"
              srcset="
                gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg 1x,
                gallery-impl/Buforowa_89-strona/2x/buforowa2.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="5"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg"
              srcset="
                gallery-impl/Buforowa_89-strona/1x/buforowa2.jpg 1x,
                gallery-impl/Buforowa_89-strona/2x/buforowa2.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Osoba prywatna</h3>
            <h2 class="imp-project-info-street">ul. Wichrowa</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Projektowanie oraz kompleksowe wykończenie mieszkania w stylu Boho
              dla młodej dziewczyny.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">2-pok.</p>
              <p class="imp-project-count-text"> mieszkanie</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022 r.</p>
              <p class="imp-project-year-text">wrzesień</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="15"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="15"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Wichrowa/Wichrowa-pc-main.jpg"
              srcset="
                gallery-impl/Wichrowa/Wichrowa-pc-main.jpg    1x,
                gallery-impl/Wichrowa/Wichrowa-pc-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="15"
          >
            <img
              class="imp-project-img-mob"
               src="gallery-impl/Wichrowa/Wichrowa-mob-main.jpg"
              srcset="
                gallery-impl/Wichrowa/Wichrowa-mob-main.jpg    1x,
                gallery-impl/Wichrowa/Wichrowa-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Osoba prywatna</h3>
            <h2 class="imp-project-info-street">ul. Lubomierska</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Projektowanie oraz kompleksowe wykończenie mieszkania pod najem
              długoterminowy.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">2-pok.</p>
              <p class="imp-project-count-text">mieszkanie</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022 r.</p>
              <p class="imp-project-year-text">czerwiec</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="16"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="16"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Lubomierska/lubomierska-main.jpg"
              srcset="
                gallery-impl/Lubomierska/lubomierska-main.jpg    1x,
                gallery-impl/Lubomierska/lubomierska-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="16"
          >
            <img
              class="imp-project-img-mob"
               src="gallery-impl/Lubomierska/lubomierska-main.jpg"
              srcset="
                gallery-impl/Lubomierska/lubomierska-main.jpg    1x,
                gallery-impl/Lubomierska/lubomierska-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Osoba prywatna</h3>
            <h2 class="imp-project-info-street">ul. Awicenny</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Projektowanie oraz kompleksowe wykończenie mieszkania w
              pastelowych barwach dla młodej osoby.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
            <p class="imp-project-count">2-pok.</p>
              <p class="imp-project-count-text">mieszkanie</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2022 r.</p>
              <p class="imp-project-year-text">listopad</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="17"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="17"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Awicenny/Awicenny-pc-main.jpg"
              srcset="
                gallery-impl/Awicenny/Awicenny-pc-main.jpg    1x,
                gallery-impl/Awicenny/Awicenny-pc-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="17"
          >
            <img
              class="imp-project-img-mob"
              src="gallery-impl/Awicenny/Awicenny-mob-main.jpg"
              srcset="
                gallery-impl/Awicenny/Awicenny-mob-main.jpg    1x,
                gallery-impl/Awicenny/Awicenny-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li class="imp-project-main-item">
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Osoba prywatna</h3>
            <h2 class="imp-project-info-street">ul. Kamienna</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Projektowanie oraz kompleksowe wykończenie mieszkania w
              nowoczesnym, industrialnym stylu.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
             <p class="imp-project-count">2-pok.</p>
              <p class="imp-project-count-text">mieszkanie</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2021 r.</p>
              <p class="imp-project-year-text">październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="18"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="18"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Kamienna/Kamienna-pc-main.jpg"
              srcset="
                gallery-impl/Kamienna/Kamienna-pc-main.jpg    1x,
                gallery-impl/Kamienna/Kamienna-pc-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="18"
          >
            <img
              class="imp-project-img-mob"
               src="gallery-impl/Kamienna/Kamienna-mob-main.jpg"
              srcset="
                gallery-impl/Kamienna/Kamienna-mob-main.jpg    1x,
                gallery-impl/Kamienna/Kamienna-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
      <li
        class="imp-project-main-item"
        id="year2021"
        style="scroll-margin-top: 100px"
      >
        <div class="imp-project-iteam">
          <div class="imp-project-info">
            <h3 class="imp-project-info-header">Inwestor:</h3>
            <h3 class="imp-project-info-header">Osoba prywatna</h3>
            <h2 class="imp-project-info-street">ul. A. Vespucciego</h2>
            <p class="imp-project-info-city">Wrocław</p>
            <p class="imp-project-info-text">
              Projektowanie oraz kompleksowe wykończenie mieszkania pod wynajem
              z ciekawym akcentem kolorystycznym.
            </p>
          </div>
          <div class="count-year-wrapper">
            <div class="imp-project-after-wrapper">
              <p class="imp-project-count">2-pok.</p>
              <p class="imp-project-count-text">mieszkanie</p>
            </div>
            <div class="imp-project-after-wrapper">
              <p class="imp-project-year">2021 r.</p>
              <p class="imp-project-year-text">październik</p>
            </div>
            <a class="more-link impl-btn js-impl-gallery" data-implGallery="19"
              >Więcej
              <svg class="arrow-icon more-link-news">
                <use href="././img/svg/spreg-nanowo.svg#icon-arrow"></use></svg
            ></a>
          </div>
        </div>
        <div class="imp-project-img-item">
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="19"
          >
            <img
              class="imp-project-img"
              src="gallery-impl/Vespucciego/Vespucciego-pc-main.jpg"
              srcset="
                gallery-impl/Vespucciego/Vespucciego-pc-main.jpg    1x,
                gallery-impl/Vespucciego/Vespucciego-pc-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
          <a
            class="more-link picture-link js-impl-gallery"
            data-implGallery="19"
          >
            <img
              class="imp-project-img-mob"
              class="imp-project-img"
             src="gallery-impl/Vespucciego/Vespucciego-mob-main.jpg"
              srcset="
                gallery-impl/Vespucciego/Vespucciego-mob-main.jpg    1x,
                gallery-impl/Vespucciego/Vespucciego-mob-main-2x.jpg 2x
              "
              alt="img"
              loading="lazy"
          /></a>
        </div>
      </li>
    </ul>
  </div>
</section>
