<section class="attitude" id="attitude">
  <div class="container attitude-container">
      <h2 class="attitude-title">O Nanowo</h2>
      <div class="attitude-wraper">
    <div class="attitude-video-wrapper">
      <iframe
        class="attitude-video"
        src="https://www.youtube.com/embed/jLOiA6Xe8zc?autoplay=1&mute=1&loop=1&playlist=jLOiA6Xe8zc"
        title="YouTube video"
        frameborder="0"
        allow="autoplay; encrypted-media; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
    <div class="attitude-container-wrapper">

      <p class="attitude-text">
        Jesteśmy firmą remontowo-budowlaną działającą na rynku od 2015 roku.
        Początkowo specjalizowaliśmy się w projektowaniu aranżacji wnętrz oraz
        remontach dla klientów indywidualnych, a dziś koncentrujemy się głównie
        na realizacji dużych inwestycji. Na przestrzeni ostatnich lat, stawiając
        na rozwój firmy, zrealizowaliśmy wiele fit-outów, współpracując z
        najbardziej rozpoznawalnymi deweloperami w Polsce. Terminowość, płynność
        realizacji i otwarta komunikacja z klientami oraz wewnątrz zespołu to
        wartości, które wyróżniają nas na tle konkurencji. <br>  Oferujemy pełną
        obsługę inwestycji – od koordynacji prac i zamówień, po nadzór nad
        harmonogramem i współpracę z wykonawcami Inwestora. Zapewniamy spokój i
        przewidywalność na każdym etapie projektu. <br> W Nanowo wierzymy, że sukces
        to nie tylko jakość wykończenia, ale przede wszystkim zadowolenie
        klienta i zbudowane zaufanie, które prowadzi do długoterminowych
        relacji.
      </p>
    </div>
    </div>
  </div>
</section>
