<section class="services" id="services">
  <div class="container services-container">
    <h2 class="services-title">Usługi</h2>
    <ul class="services-list">
      <li class="services-list-item">
        <span class="services-list-item-number">1</span>
        <p class="services-list-item-text">
          Przygotowanie kompleksowej oferty na prace wykończeniowe.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">2</span>
        <p class="services-list-item-text">
        Weryfikacja projektu wnętrz pod kątem zgodności ze stanem na budowie.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">3</span>
        <p class="services-list-item-text">
         Opracowanie i monitorowanie harmonogramu realizacji.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">4</span>
        <p class="services-list-item-text">
          Kompleksowa realizacja robót remontowo – budowlanych.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">5</span>
        <p class="services-list-item-text">
       Nadzór nad inwestycją oraz kontrola postępu prac.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">6</span>
        <p class="services-list-item-text">
          Współpraca z generalnym wykonawcą na budowie.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">7</span>
        <p class="services-list-item-text">
          Kontrola terminów i jakości realizowanych robót.
        </p>
      </li>
      <li class="services-list-item">
        <span class="services-list-item-number">8</span>
        <p class="services-list-item-text">
          Wygodny serwis gwarancyjny po zakończeniu inwestycji.
        </p>
      </li>
    </ul>


  </div>
</section>
