<section id="privacy">
  <div class="privacy-modal">
    <div class="privacy-modal__overlay">
      <div class="privacy-modal__container">
        <button
          class="modal__close"
          data-close-privacy-modal
          aria-label="Close privacy policy modal"
        >
          ×
        </button>
        <div class="privacy-wrapper">
        <h2 class="privacy-header" >Polityka prywatności</h2>
        <p class="privacy-PL">
          [PL] Wyrażam zgodę na przetwarzanie i udostępnianie danych osobowych
          przekazanych przez mnie w tym formularzu w celu informowania mnie o
          usługach za pośrednictwem wiadomości e-mail, telefonu lub SMS-a. Zgoda
          może zostać w dowolnym momencie odwołana. Administratorem podanych
          danych jest Nanowo sp. z o.o. z siedzibą we Wroclawiu pod adresem ul.
          Grabiszyńska 241E, 53-234 . Dane osobowe będą przetwarzane w celach
          kontaktowych oraz przedstawienia oferty na podstawie prawnie
          uzasadnionego interesu Nanowo (art. 6(1) lit f RODO) przejawiającego
          się w odpowiedzi na zadane poprzez formularz kontaktowy pytanie.
        </p>
        <p class="privacy-EN">
          [ENG] I consent to the processing and sharing of personal data,
          provided by me in this form to inform me about services by email,
          phone or text message. Consent may be revoked at any time. The
          administrator of the data provided is Nanowo sp.z o.o. in Wroclaw on
          the street Grabishinskaya 241E, 53-234. Personal data will be
          processed for contact purposes and to submit proposals. based on the
          legitimate interest of Nanowo (art. 6 (1) lit f RODO), which appears
          in response to the question asked through the contact form.
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
