<section id="about-us-home" class="about-us-home">
  <div class="container">
    <div class="about-us-container">
      <p class="about-text">
        Nanowo Pod Klucz specjalizuje się w kompleksowej realizacji średnich i
        dużych kontraktów remontowo- budowlanych. Wspieramy deweloperów oraz
        inwestorów w realizacji ich wizji, zapewniając pełną obsługę – od
        nadzoru po finalne wykończenie, co przekłada się na efektywność i
        oszczędność czasu. Wykonujemy prace wykończeniowe w całości we własnym
        zakresie, bez angażowania podwykonawców, co gwarantuje pełną kontrolę
        nad jakością oraz harmonogramem realizacji. Oferujemy sprawną obsługę
        gwarancyjną na cały zakres, co minimalizuje ryzyko i zapewnia
        bezpieczeństwo Inwestycji.
      </p>
    </div>
  </div>
</section>
