<section id="benefits" class="benefits">
  <div class="container benefits-container">
    <p class="benefits-head">Co nas wyróżnia?</p>
    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="icon-benefits">
          <use
            xlink:href="././img/svg/spreg-nanowo.svg#icon-home-outline"
          ></use>
        </svg>
        <h2 class="benefits-item-head">Pewność realizacji</h2>
        <p class="benefits-text">
          Inwestycje wykonujemy wyłącznie przy udziale naszych specjalistów, bez
          podwykonawców. W skład naszego zespołu wchodzą koordynatorzy i
          kierownicy projektów. Dzięki temu każde zadanie realizujemy bez
          opóźnień, gwarantując inwestorom pełną kontrolę poszczególnymi  etapami
          prac.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="icon-benefits">
          <use
            xlink:href="././img/svg/spreg-nanowo.svg#icon-people-outline"
          ></use>
        </svg>
        <h2 class="benefits-item-head">Własny zespół fachowców</h2>
        <p class="benefits-text">
          Zajmujemy się wszystkimi pracami wykończeniowymi w lokalach, łącznie z
          planowaniem, logistyką dostaw materiałów oraz koordynacją firm
          zewnętrznych, co pozwala zminimalizować ryzyko i uprościć proces dla
          klienta.
        </p>
      </li>
      <li class="benefits-item">
        <svg class="icon-benefits">
          <use xlink:href="././img/svg/spreg-nanowo.svg#icon-Frame"></use>
        </svg>
        <h2 class="benefits-item-head">Gwarancja</h2>
        <p class="benefits-text">
          Dzięki zgranemu zespołowi fachowców i ich wieloletniemu doświadczeniu,
          jesteśmy w stanie zapewnić inwestorowi realizację dużej liczby
          mieszkań w krótkim czasie. Po zakończeniu kontraktu oferujemy
          gwarancję na cały projekt, a nie tylko na jego wybrane etapy.
        </p>
      </li>
    </ul>
    <div class="benefits-btn-animation">
      <a class="contact-btn benefits-btn open-modal-btn" data-open-modal>
        Skontaktuj się
      </a>
    </div>
  </div>
</section>
