<section id="projects" class="projects project-container">
  <div class="container">
    <div class="project-header">
      <h2 class="project-head">Nasze realizacje</h2>
      <p class="project-text">
        Zapoznaj się z projektami, które realizowaliśmy
      </p>
    </div>

    <!-- Slider main container -->
    <div class="projectSwiper swiper">
      <!-- Additional required wrapper -->

      <div class="swiper-pagination project-pagination"></div>
      <div class="project-wrapper swiper-wrapper">
        <!-- Slides -->

        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">Inwestor: <br />Osoba prywatna.</h2>

              <p class="slide-text">
                Projektowanie oraz kompleksowe wykończenie mieszkania pod
                wynajem z ciekawym akcentem kolorystycznym przy ul.
                A.Vespucciego, Wrocław.
              </p>
              <div class="animation-btn">
                <a
                  class="more-link contact-btn scroll-link"
                  href="implementation.html#year2021"
                  >Więcej
                  <svg class="arrow-icon">
                    <use
                      href="././img/svg/spreg-nanowo.svg#icon-arrow"
                    ></use></svg
                ></a>
              </div>
            </div>
            <div class="img-slide">
              <a href="implementation.html#year2021" class="scroll-link">
                <div class="swiper prodPictSlider">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper project-slid-img">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/Vespucciego/1x/Nanowo-Vespucciego-1.jpg"
                        srcset="
                          gallery-impl/Vespucciego/1x/Nanowo-Vespucciego-1.jpg    1x,
                          gallery-impl/Vespucciego/2x/Nanowo-Vespucciego-1-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/Vespucciego/1x/Nanowo-Vespucciego-15.jpg"
                        srcset="
                          gallery-impl/Vespucciego/1x/Nanowo-Vespucciego-15.jpg    1x,
                          gallery-impl/Vespucciego/2x/Nanowo-Vespucciego-15-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/Vespucciego/1x/Nanowo-Vespucciego-7.jpg"
                        srcset="
                          gallery-impl/Vespucciego/1x/Nanowo-Vespucciego-7.jpg    1x,
                          gallery-impl/Vespucciego/2x/Nanowo-Vespucciego-7-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">
                Inwestor: <br />
                DM Mieszkania sp. z o.o. sp. k.
              </h2>
              <p class="slide-text">
                Zaprojektowanie oraz kompleksowe wykończenie 232 lokali
                mieszkalnych w budynku CITYZEN przy ul.&nbsp;Rychtalskiej 11-15
                we Wrocławiu.
              </p>

              <a
                class="more-link contact-btn scroll-link"
                href="././implementation.html#year2022"
                >Więcej
                <svg class="arrow-icon">
                  <use
                    href="././img/svg/spreg-nanowo.svg#icon-arrow"
                  ></use></svg
              ></a>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2022" class="scroll-link">
                <div class="swiper prodPictSlider">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper project-slid-img">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg"
                        srcset="
                          gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania1.jpg 1x,
                          gallery-impl/DM_Mieszkania-strona/2x/DMmieszkania1.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania17.jpg"
                        srcset="
                          gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania17.jpg 1x,
                          gallery-impl/DM_Mieszkania-strona/2x/DMmieszkania17.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania32.jpg"
                        srcset="
                          gallery-impl/DM_Mieszkania-strona/1x/DMmieszkania32.jpg 1x,
                          gallery-impl/DM_Mieszkania-strona/2x/DMmieszkania32.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">
                Inwestor: <br />
                IVANISHVILI sp. z o.o.
              </h2>
              <p class="slide-text">
                Wykończenie „pod klucz” 27 apartamentów Marina Apartments,
                zlokalizowanych przy ul. Na Grobli 20-24 we Wrocławiu wraz z
                dostawą wyposażenia
              </p>

              <a
                class="more-link contact-btn scroll-link"
                href="././implementation.html#year2023"
                >Więcej
                <svg class="arrow-icon">
                  <use
                    href="././img/svg/spreg-nanowo.svg#icon-arrow"
                  ></use></svg
              ></a>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2023" class="scroll-link">
                <div class="swiper prodPictSlider">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper project-slid-img">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg"
                        srcset="
              gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina1.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/2x/IVANISHVILI-Marina1.jpg 2x
            "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina4.jpg"
                        srcset="
              gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina4.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/2x/IVANISHVILI-Marina4.jpg 2x
            "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina10.jpg"
                        srcset="
              gallery-impl/IVANISHVILI-Marina strona/1x/IVANISHVILI-Marina10.jpg 1x,
            gallery-impl/IVANISHVILI-Marina strona/2x/IVANISHVILI-Marina10.jpg 2x
            "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">
                Inwestor: <br />
                Vantage Development S.A.
              </h2>
              <p class="slide-text">
                Wykonanie robót budowlanych i wykończeniowych w 247 lokalach w
                dwóch budynkach mieszkalnych wielorodzinnych w Poznaniu wraz z
                koordynacją meblarzy od Inwestora.
              </p>

              <a
                class="more-link contact-btn"
                href="././implementation.html#year2024"
                >Więcej
                <svg class="arrow-icon scroll-link">
                  <use
                    href="././img/svg/spreg-nanowo.svg#icon-arrow"
                  ></use></svg
              ></a>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2024 " class="scroll-link">
                <div class="swiper prodPictSlider">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper project-slid-img">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/VD-Nowa-Lacina/1x/Nowa-Lacina1.jpg"
                        srcset="
                          gallery-impl/VD-Nowa-Lacina/1x/Nowa-Lacina1.jpg    1x,
                          gallery-impl/VD-Nowa-Lacina/2x/Nowa-Lacina1-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/VD-Nowa-Lacina/1x/Nowa-Lacina8.jpg"
                        srcset="
                          gallery-impl/VD-Nowa-Lacina/1x/Nowa-Lacina8.jpg    1x,
                          gallery-impl/VD-Nowa-Lacina/2x/Nowa-Lacina8-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src="gallery-impl/VD-Nowa-Lacina/1x/Nowa-Lacina9.jpg"
                        srcset="
                          gallery-impl/VD-Nowa-Lacina/1x/Nowa-Lacina9.jpg    1x,
                          gallery-impl/VD-Nowa-Lacina/2x/Nowa-Lacina9-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="project-slide swiper-slide">
          <div class="slider-container">
            <div class="slide-info">
              <h2 class="investor-slide">
                Inwestor: <br />
                R4R Gdańsk Stocznia Sp. z o.o.
              </h2>
              <p class="slide-text">
                Wykonanie “fit outów” w Gdańsku wraz z zakupem i dostawą
                materiałów wykończeniowych w 125 lokalach, przeznaczonych na
                wynajem długoterminowy
              </p>

              <a
                class="more-link contact-btn scroll-link"
                href="././implementation.html#year2025"
                >Więcej
                <svg class="arrow-icon">
                  <use
                    href="././img/svg/spreg-nanowo.svg#icon-arrow"
                  ></use></svg
              ></a>
            </div>
            <div class="img-slide">
              <a href="././implementation.html#year2025" class="scroll-link">
                <div class="swiper prodPictSlider">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper project-slid-img">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src=" gallery-impl\Nowomiejska-Gdansk\1x\Nanowo-Nowomiejska-Gdansk2.jpg"
                        srcset="
                          gallery-impl\Nowomiejska-Gdansk\1x\Nanowo-Nowomiejska-Gdansk2.jpg    1x,
                          gallery-impl\Nowomiejska-Gdansk\2x\Nanowo-Nowomiejska-Gdansk2-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src=" gallery-impl\Nowomiejska-Gdansk\1x\Nanowo-Nowomiejska-Gdansk35.jpg"
                        srcset="
                          gallery-impl\Nowomiejska-Gdansk\1x\Nanowo-Nowomiejska-Gdansk35.jpg    1x,
                          gallery-impl\Nowomiejska-Gdansk\2x\Nanowo-Nowomiejska-Gdansk35-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img
                        class="project-img"
                        src=" gallery-impl\Nowomiejska-Gdansk\1x\Nanowo-Nowomiejska-Gdansk11.jpg"
                        srcset="
                          gallery-impl\Nowomiejska-Gdansk\1x\Nanowo-Nowomiejska-Gdansk11.jpg    1x,
                          gallery-impl\Nowomiejska-Gdansk\2x\Nanowo-Nowomiejska-Gdansk11-2x.jpg 2x
                        "
                        alt="img"
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-navigation-bottom">
        <div class="swiper-button-prev project-button-prev"></div>
        <div class="swiper-button-next project-button-next"></div>
      </div>
    </div>
  </div>
</section>
