<section id="reviews" class="review">
  <div class="reviews-container">
    <h2 class="container review-header">
      Nasza firma to solidny partner dla dużych i średnich deweloperów na rynku
      nieruchomości
    </h2>
    <div class="img-background-wrapper">
      <h2 class="review-header-name">Klienci o nas</h2>
      <div class="swiper swiperReview">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img"
              src="././img/Home/reviews/VD-logo-150x500.png"
              alt="user"
            />
            <p class="reviews-text">
              Prace zostały wykonane zgodnie z wymaganiami dokumentacji
              projektowej oraz warunkami technicznymi w ustalonym terminie i z
              należytą starannością. Spółkę Nanowo oceniamy jako solidną,
              gwarantującą dobre wykonawstwo i polecamy ją jako kompetentnego,
              wiarygodnego i odpowiedzialnego partnera.
            </p>

          </div>
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img Ivanishvili-logo"
              src="././img/Home/reviews/Ivanishvili-150x500.png"
              alt=""
            />
            <p class="reviews-text">
              Dzięki współpracy z firmą Nanowo Sp. z o.o. prace przebiegły
              szybko i sprawnie. Całość realizacji przebiegła bezproblemowo,
              terminowo i została wykonana zgodnie ze sztuką budowlaną.
              Pracownicy wykazali się profesjonalizmem i zaangażowaniem.
              Jesteśmy bardzo zadowoleni z obsługi po sprzedażowej, realizowania
              prac gwarancyjnych і serwisowych. W związku z dobrze układająca
              się współpraca, na pewno zrealizujemy wspólnie jeszcze wiele
              projektów. Z czystym sumieniem mogę polecić tego Wykonawcę.
            </p>

          </div>
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img Ivanishvili-logo"
              src="././img/Home/reviews/Piotr-GUZIK-150x500.png"
              alt=""
            />
            <p class="reviews-text">
              Bardzo polecam usługi Nanowo pod klucz. To z czego skorzystałem
              to: wykończenie mieszkania (deweloperskie) wg projektu i przy
              współpracy z architektami, zakupy wg wskazań architektów.
              Kosztorys był bardzo czytelny - każda złotówka była przypisana do
              odpowiedniej czynności/towaru, wykonanie bardzo dobrze zaplanowane
              i starannie zrealizowane, kontakt bardzo dobry - zawsze przodem do
              klienta i chęć rozwiązania problemu w jak najlepszy sposób. Ta
              współpraca była totalną odmianą od stereotypu ekip budowlanych -
              całość poszła totalnie bezstresowo. Jeszcze raz polecam.
            </p>

          </div>
          <div class="swiper-slide slide-reviews">
            <img
              class="reviews-img"
              src="././img/Home/reviews/Cityzen-150x500.png"
              alt=""
            />
            <p class="reviews-text">
              Prace zostały przeprowadzone w uzgodnionym terminie, zgodnie z
              dokumentacją projektową i obowiązującymi wymogami technicznymi, z
              zachowaniem wysokiej staranności i profesjonalizmu. Nanowo to
              firma, którą możemy polecić jako solidnego i odpowiedzialnego
              wykonawcę – realizującego zlecenia na wysokim poziomie i godnego
              polecenia jako sprawdzonego partnera do współpracy.
            </p>

          </div>
          <div class="swiper-slide slide-reviews">
           <img
              class="reviews-img"
              src="././img/Home/reviews/Andrzej-HOROWSKI-150x500.png"
              alt=""
            />
            <p class="reviews-text">
              Miałem do wykończenia mieszkanie w standardzie deweloperskim. W
              pakiecie usług NaNowo były: projekt wykończenia, zakupy,
              wykończenie (gładzie, malowanie, panele, kafelki, ścianki g-k,
              drzwi klasyczne i przesuwne, armatura), prace dodatkowe (np.
              przesuwanie grzejników), do tego gwarancja na wykonane prace.
              Wszystko wykonane sprawnie oraz terminowo. Do tego odbierają
              telefony i potrafią odradzić niektóre prace (gdy klient ma
              nierealne pomysły). Cieszę się, że trafiłem na NaNowo!
            </p>

          </div>
        </div>
        <!-- If we need pagination -->

        <!-- If we need navigation buttons -->

        <!-- If we need scrollbar -->
      </div>
    </div>
  </div>
  <div class="reviews-pagination-container">
    <div class="swiper-pagination reviews-pagination"></div>
  </div>
</section>
