<section id="turnkey" class="turnkey-section">
  <div class="container">
    <div class="turnkey-wrapper">
      <div class="turnkey-text-content">
        <h2 class="turnkey-header">Nanowo pod klucz</h2>
        <ul class="turnkey-list">
          <li class="turnkey-iteam">
            <p class="turnkey-text">
              Oferujemy usługi remontowe dla inwestorów oraz deweloperów na
              terenie całego kraju.
            </p>
          </li>
          <li class="turnkey-iteam">
            <p class="turnkey-text">
              Zapewniamy kompleksową realizację pod klucz w branży budowlanej,
              specjalizując się w wykończeniu mieszkań (pod wynajem lub
              sprzedaż), hoteli oraz lokali usługowych.
            </p>
          </li>
          <li class="turnkey-iteam">
            <p class="turnkey-text">
              Tworzymy rozwiązania na podstawie nowoczesnych technologii,
              dopasowane do potrzeb klienta.
            </p>
          </li>
        </ul>
      </div>

      <div class="turnkey-img-wrap">
        <img
          class="turnkey-img"
          src="././img/Home/turnkey/Kontent 4K-25-fps_41.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
